<footer class="container footer">

	<nav>
		<ul>
			<li><a	href="/"><%= __('footer.home') %></a></li>
			<li><a	href="/about"><%= __('footer.about') %></a></li>
			<li><a	href="/about"><%= __('footer.my_account') %></a></li>
		</ul>
	</nav>
	<p>&copy; 2025. <a href="/">Scale and Edit App</a></p>
	
</footer>
<script src="/js/script.js"></script>