<%- include ("./partials/head") %>
<body>
  
  <main class="container dashboard">
    <%- include ("./partials/header") %>
	<div class="wrapper">
		<header class="index-header">
			<h1>Dashboard</h1>
		</header>
		
	</div>
  </main>
  
  <%- include ("./partials/footer.ejs") %>
  
</body>
</html>